<html>
<head>
<title>{{title}}</title>
</head>
<body>
 
<h3>Ejemplos de handlebars:{{title}}</h3>
<ul>
<li><a href='/simple'>Variable simple</a></li>
<li><a href='/complex'>Complejo</a></li>
<li><a href='/loop'>Usando loops con '&#123;&#123;#each&#125;&#125;'</a></li>
<li><a href='/logic'>Lógica en tus templates con '&#123;&#123;#if&#125;&#125;'</a></li>
</ul>
 
{{{body}}}
<footer></footer>
</body>
</html>